<main id="register" class="modal modal_show">
    <div class="modal-dialog">
        <div class="modal-dialog__header">
            <h2>Регистрация</h2>
            <hr>
        </div>
        <div class="modal-dialog__content">
            <form class="form" onsubmit="return false">
                {{{_formFields}}}
                <div class="form__submit">
                    {{{_formButtons}}}
                </div>
            </form>
        </div>
        <div class="modal-dialog__info">
            <a href="/login">Уже есть данные входа?</a>
        </div>
    </div>
</main>
