<main id="register" class="modal modal_show">
    <div class="modal-dialog">
        <div class="modal-dialog__header">
            <h2>Регистрация</h2>
            <hr>
        </div>
        <div class="modal-dialog__content">
            <form class="form" onsubmit="return false">
                {{#each _formFields}}
                    {{{lookup ../this @key}}}
                {{/each}}
                <div class="form__submit">
                    {{{_formButton}}}
                </div>
            </form>
        </div>
        <div class="modal-dialog__info">
            <a href="javascript:router.go('/')">Уже есть данные входа?</a>
        </div>
    </div>
</main>
