{
  "extends": ["airbnb", "airbnb-typescript"],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "project": ["tsconfig.json"]
  },
  "rules": {
    "newline-per-chained-call": "error",
    "no-underscore-dangle": "off",
    "no-trailing-spaces": "off",
    "object-curly-newline": "off",
    "no-continue": "off",
    "no-prototype-builtins": "off"
  }
}
