<header><h1>{{title}}</h1></header>
<article><h2>{{description}}</h2></article>
<hr>
<nav class="pages">
    <a href="/login">Страница входа</a> |
    <a href="/register">Страница регистрации</a> |
    <a href="/chat">Чат</a> |
    <a href="/user">Профиль</a> |
    <a href="/500">Ошибка 500</a> |
    <a href="/404">Ошибка 404</a>
</nav>
{{{_debug}}}
