<div>
    <div class="chat-container">
        <div class="chat-container__sidebar">
            {{{_sidebar}}}
        </div>
        <div class="chat-container__window">
            {{{_chatDialog}}}
        </div>
    </div>
    {{{_chatAddModal}}}
</div>
