---
title: "Яндекс Практикум (Спринт 1) - Ошибка 500"
---
{{> _header}}
    <main class="page-error">
        <header class="page-error__title">
            <h1>Ошибка 500</h1>
        </header>
        <article class="page-error__description">
            <h2>Временно недоступен</h2>
        </article>
        <section class="page-error__go-back">
            <a href="javascript:history.go(-1)">Назад к чатам</a>
        </section>
    </main>
{{> _footer}}