---
title: "Яндекс Практикум (Спринт 1) - Изменить пароль"
displayName: ""
editMode: true
formFields: [
{ title: "Старый пароль", type: "password", name: "oldPassword", value: "qwerty1234", errorMsg: "   " },
{ title: "Новый пароль", type: "password", name: "newPasswordAttempt", value: "qwerty1234", errorMsg: "   " },
{ title: "Повторите новый пароль", type: "password", name: "newPassword", value: "qwerty", errorMsg: "Пароли не совпадают" },
]
loadFileModal: false
---
{{> _header}}
    <div class="chat-container">
        <section class="chat-container__go-back" onclick="history.back(-1)">
            <span class="icon icon_go-back"></span>
        </section>
        <main class="chat-container__window">
            {{> profile displayName=displayName editMode=editMode
                    formFields=formFields loadFileModal=loadFileModal}}
        </main>
    </div>
{{> _footer}}