<div>
    <div class="chat-container">
        <div class="chat-container__go-back" id="go-back">
            <span class="icon icon_go-back"></span>
        </div>
        <div class="chat-container__window">
            {{{_profile}}}
        </div>
    </div>
    {{{_avatarEditModal}}}
</div>
