<hr>
<div>
    <span class="icon icon_chats"></span>
    <span class="icon icon_user-add"></span>
    <span class="icon icon_user-remove"></span>
    <span class="icon icon_trash"></span>
    <span class="icon icon_link"></span>
    <span class="icon icon_menu"></span>
    <span class="icon icon_navigation"></span>
    <span class="icon icon_verified"></span>
    <span class="icon icon_image"></span>
    <span class="icon icon_document"></span>
    <span class="icon icon_user"></span>
    <span class="icon icon_go-back"></span>
    <span class="icon icon_next"></span>
    <span class="icon icon_close"></span>
    <span class="icon icon_search"></span>
    <span class="icon icon_location"></span>
</div>
<div>
    <span>
        Обычный текст
        <b>Жирный текст</b>
        <i>Наклонный текст</i>
        <i><b>Жирный и наклонный текст</b></i>
    </span>
    <h1>Заголовок h1</h1>
    <h2>Заголовок h2</h2>
    <h3>Заголовок h3</h3>
    <h4>Заголовок h4</h4>
    <h5>Заголовок h5</h5>
</div>
<div class="user-avatar">
    <div class="user-avatar__edit">
        <span>Поменять<br>аватар</span>
    </div>
    <div class="initial-avatar">
        <span class="icon icon_user"></span>
    </div>
</div>
<div>
    <a href="#testModal">Открыть модальное окно</a>
</div>
<div id="testModal" class="modal modal_closable">
    <div class="modal-dialog">
        <div class="modal-dialog__close">
            <a href="#"><span class="icon icon_close"></span></a>
        </div>
        <div class="modal-dialog__header">
            <h2>Тестирование модального окна</h2>
            <hr>
        </div>
        <div class="modal-dialog__content">
            <button>Тестирование кнопки</button>
            <div class="modal-dialog__info">
                <span>Тестирование подписи <a href="#">Тестирование ссылки</a></span>
            </div>
        </div>
    </div>
</div>