<aside class="sidebar">
    <section class="sidebar-header">
        <div class="sidebar-header-status">
            {{#if avatarSrc}}
                <img class="sidebar-header-status__avatar" src="{{avatarSrc}}" alt="Изображение пользователя">
            {{else}}
                <div class="sidebar-header-status__avatar"></div>
            {{/if}}
            <div class="sidebar-header-status__profile">
                <a href="javascript:router.go('/settings')">Профиль <span class="icon icon_next"></span></a>
            </div>
            <div class="sidebar-header-status__user-add {{#if profile}}sidebar-header-status__user-add_active{{/if}}">
                <span class="icon icon_user-add"></span>
            </div>
        </div>
        <div class="sidebar-header-search">
            <input type="text" placeholder="Поиск" value="{{search}}" id="user-search">
            <span class="icon icon_search"></span>
        </div>
        <hr>
    </section>
    {{{_sidebarContacts}}}
</aside>
